<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<title>Test`s</title>
	<link rel="icon" href="img/logo.jpg" type="image">

<!-- Подключение стилей	-->
	<link rel="stylesheet" href="/css/reset.css">
	<link rel="stylesheet" href="/css/main.css">

	<meta name="viewport" content="width=device-width, initial-scale=1">


	<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<body>
<div id="main">




    <!-- Header -->
	<header>
		<a class="logo" href="/index.html">
			<img src = "img/logo.jpg" width="100" height="100" alt="logo">
			<h1 class = "logo__text"> {{logotip}} </h1>
		</a>

		<nav class="header__nav">
			<div class="burger" v-on:click="showBurgermenu ? showBurgermenu = 0 : showBurgermenu = 1"></div>
			<div class="nav__links" v-if="showBurgermenu">
				<a href="#">Подробнее</a>
				<a href="#">Примеры</a>
				<a href="#">Магазин</a>
				<a href="#">О нас</a>
			</div>
		</nav>
	</header>


    <!-- Main content -->
   	<main>
   		<div class="container">
		<ol>
			<li> Задачи по HTML без использования стилей
				<ol>
					<li v-for="page in htmlWithoutStyles">Задача: <a :href = "page.link">{{ page.name }}</a></li>
				</ol>
			</li>


			<li> Задачи по HTML/CSS
				<ol>
					<li v-for="page in htmlWithStyles">Задача: <a :href = "page.link"> {{ page.name }}</a></li>

				</ol>
			</li>
			<li> Шаблоны html/css
				<ol>
					<li></li>
					<li></li>
					<li></li>

				</ol>
			</li>
			<li> Макеты PSD для верстки
				<ol>
					<li></li>
					<li></li>
					<li></li>
				</ol>
			</li>
		</ol>
  	</div>
   	</main>

    <!-- Footer -->
   	<footer v-on:click="showFooter ? showFooter = 0 : showFooter = 1">
   		<div class="footer__label" v-html ="arrow[showFooter]"></div>

   		<div class="footer__container">
			<div class="footer__col">Контакты
				<ul  v-show="showFooter">
					<li><a href="https://vk.com/id321329438">vk</a></li>
					<li><a href="#">inst</a></li>
					<li><a href="#">twitter</a></li>
				</ul>
			</div>

			<div class="footer__col">Разделы
				<ul  v-show="showFooter">
					<li><a href="index.html">Главная</a></li>
					<li><a href="#">Содержание</a></li>
					<li><a href="pages/dictionary.html">Словарь</a></li>
					<li><a href="#">О сайте</a></li>
				</ul>
			</div>
			<div class="footer__col"> Интересные проекты
				<ul  v-show="showFooter">
					<li><a href="html/other/maket-2.html">maket 1.2</a></li>
					<li><a href="/pages/raki.html">Raki</a></li>
					<li>.</li>
					<li>.</li>
					<li>.</li>
				</ul>
			</div>
  		</div>
   	</footer>



</div>
</body>


	<style>
		body{
			background-color: black;
		}
	</style>

</html>



<script src="js/script.js"></script>
